.AboutMe {
    width: 100%;
}

.firstBox{
    height: 100%;
}

.title{
    height: 150px;
    font-size: 100px;
    color: #2A6D45;
    margin-top: 100px;
}

.title1{
    margin-top: 70px;
    height: 150px;
    font-size: 100px;
    color: #2A6D45;
}

table{
    font-size: 60px;
    margin: 0 auto;
    width: 2100px;
    line-height: 3;
    border-collapse: collapse;
}

thead{
    float: left;
    width: 1000px;
    border-right: 1px solid black;
    
}

tbody{
    margin-left: 50px;
    float: right;
    width: 1048px;
}

.txt {
    width: 350px;
    text-align: left;
}

.txt1 {
    width: 700px;
    text-align: left;
}

tfoot{
    width: 2100px;
    text-align: left;
}

.txt2 {
    width: 1000px;
    float: left;
    font-size: 40px;
}

.txt3{
    float: right;
    width: 1048px;
    font-size: 40px;
}