.Project {
  width: 100%;
}

.firstBox {
  height: 100%;
}

.title {
  height: 150px;
  font-size: 100px;
  color: #2a6d45;
  margin-top: 70px;
}

.projectBox {
  margin: 0 auto;
  width: 2200px;
}

.projectBox1 {
  margin: 0 auto;
  width: 2000px;
  display: flex;
}

/* 프로젝트1 부분 */
.project1 {
  width: 600px;
  height: 940px;
  border-radius: 50px;
  border: 1px solid black;
}

.project1:hover {
  transform: scale(1.05);
}

.project1Box {
  width: 600px;
  height: 300px;
  border-radius: 50px 50px 0px 0px;
}

.project1Box img {
  width: 595px;
  height: 300px;
  border-radius: 50px 50px 0px 0px;
}

.projectTitle {
  width: 600px;
  height: 60px;
  font-size: 45px;
  text-align: start;
  margin-top: 5px;
}

.projectDate {
  margin-top: 10px;
  width: 600px;
  height: 60px;
  font-size: 40px;
  text-align: start;
}

.projectGit {
  margin-top: 10px;
  width: 600px;
  height: 60px;
  font-size: 40px;
  text-align: start;
  color: black;
}

.projectGit a {
  color: black;
  text-decoration: none;
}

.projectDev {
  width: 600px;
  height: 300px;
}

.projectDev img {
  width: 595px;
  height: 300px;
}

.projectRole {
  margin: 0 auto;
  width: 550px;
  height: 120px;
  background-color: rgb(226, 220, 220);
  border-radius: 30px;
}

.projectRole1 {
  margin-top: 10px;
  width: 550px;
  height: 40px;
  text-align: left;
  font-size: 30px;
  margin-left: 15px;
}

.projectRole2 {
  font-size: 28px;
  text-align: left;
  margin-left: 15px;
}

.project2 {
  width: 600px;
  height: 940px;
  border-radius: 50px;
  margin-left: 100px;
  border: 1px solid black;
}

.project2:hover {
  transform: scale(1.05);
}

.project2Box {
  width: 600px;
  height: 300px;
  border-radius: 50px 50px 0px 0px;
}

.project2Box img {
  width: 595px;
  height: 300px;
  border-radius: 50px 50px 0px 0px;
}

.project3 {
  width: 600px;
  height: 940px;
  border-radius: 50px;
  margin-left: 100px;
  border: 1px solid black;
}

.project3:hover {
  transform: scale(1.05);
}

.project3Box {
  width: 600px;
  height: 300px;
  border-radius: 50px 50px 0px 0px;
}

.project3Box img {
  width: 595px;
  height: 300px;
  border-radius: 50px 50px 0px 0px;
}
